$content-width: 800px;
$main: #010813;
$font-style: "Open Sans", sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$arvo-font: 'Arvo', serif;;
$heading-font: "Muli", sans-serif;
$title-font: 'Megrim', cursive;
$josefin-font: 'Josefin Sans', sans-serif;
$telex-font: 'Telex', sans-serif;
$voltaire-font: 'Voltaire', sans-serif;
$nova-font: 'Nova Mono', monospace;
$heading-font-color: #111C2C;
$light: #E7EDF4;
$header: #6A7393;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}