$content-width: 800px;
$main: #010813;
$font-style: "Open Sans", sans-serif;
$font-color: #000000;
$link-color: #471054;
$link-hover-color: $main;
$arvo-font: 'Arvo', serif;;
$heading-font: "Muli", sans-serif;
$title-font: 'Megrim', monospace;
$josefin-font: 'Josefin Sans', sans-serif;
$telex-font: 'Telex', sans-serif;
$voltaire-font: 'Voltaire', sans-serif;
$nova-font: 'Nova Mono', monospace;
$heading-font-color: #2D0238;
$light: #E7EDF4;
/* $header: #6A7393; */
$header: #73853b;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}