.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item{
    background: tomato;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 10px;

    line-height: 150px;
    color: green;
    text-align: center;
}